## Cosmetics Brand Analysis
<p>The cosmetics industry is a 50 billion-dollar-a-year business in the US alone. Cosmetics sales are even used as an indicator for economic recessions (i.e., the "lipstick index").</p>
<p>You are working for a cosmetics start-up that plans to launch a new line of organic products. The launch will focus on the following cosmetics categories: fragrances, makeup, and skincare. Your task is to find the average prices for four competitor brands across these three categories. </p>
<p>You will be using data collected from Sephora's global store in your analysis. However, there are some additional requirements before you can present the results:</p>
<ul>
<li>The data available is unprocessed as received from Sephora. The start-up requests the categories as follows:</li>
</ul>
<table>
<thead>
<tr>
<th>New category</th>
<th style="text-align:left;">Existing categories to reclassify</th>
</tr>
</thead>
<tbody>
<tr>
<td>Fragrance</td>
<td style="text-align:left;">Perfume, Cologne</td>
</tr>
<tr>
<td>Makeup</td>
<td style="text-align:left;">Eye Palettes, Lipstick, Highlighter, Foundation, Mascara, Eyeliner, Makeup, Eyeshadow</td>
</tr>
<tr>
<td>Skincare</td>
<td style="text-align:left;">Moisturizers, Face Serums, Face Wash &amp; Cleansers, Face Masks, Face Primer, Body Lotions &amp; Body Oils,  Lotions &amp; Oils</td>
</tr>
</tbody>
</table>
<ul>
<li><p>Currently, it is unclear who the primary competitors are. Find the top four brands by the combined number of fragrance, makeup, and skincare products produced.</p></li>
<li><p>Exclude any products containing the toxic ingredient "toluene" from your analysis. Assume products with no ingredient information do not contain "toluene".</p></li>
<li><p>Product prices should be compared in USD. Below are the conversions for currencies found in the dataset:</p>
<ul>
<li>1 EUR = 1.22 USD</li>
<li>1 GBP = 1.42 USD</li>
<li>1 Yen = 0.01 USD</li></ul></li>
</ul>
<hr>
<p><em>The datasets available are listed below:</em></p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/cosmetics.csv - Catalogue of cosmetics products, including brand, category, price, and other characteristics</b>
    </div>
    <div>Source: <a href="https://www.kaggle.com/raghadalharbi/all-products-available-on-sephora-website/version/1">Kaggle</a></div>
<ul>
    <li><b>id: </b>The product id.</li>
    <li><b>brand: </b>The brand.</li>
    <li><b>category: </b>The category of product.</li>
    <li><b>name: </b>The name of the product.</li>
    <li><b>size: </b>The size of the product.</li>
    <li><b>price: </b>The price of the product (in various currencies).</li>
    <li><b>rating: </b>The consumer rating of the product.</li>
    <li><b>how_to_use: </b>Instructions for the product.</li>
    <li><b>online_only: </b>Whether or not the product is online-exclusive.</li>
    <li><b>limited_edition: </b>Whether or not the product is limited edition.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/ingredients.txt - A tab-delimited file containing the product IDs and ingredients for products in the cosmetics dataset</b>
    </div>
    <div>Source: <a href="https://www.kaggle.com/raghadalharbi/all-products-available-on-sephora-website/version/1">Kaggle</a></div>
<ul>
    <li><b>product_id: </b>The product id (corresponding to the id column in the cosmetics dataset).</li>
    <li><b>ingredients: </b>The list of ingredients in the product.</li> 
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/cosmetics_categories.csv - Table containing the sub and broad categories for recategorization</b>
    </div>
<ul>
    <li><b>sub_category: </b>The sub categories that exist in the cosmetics CSV that need to be recategorized.</li>
    <li><b>broad_category: </b>The corresponding broader category to which the sub_category belongs to and needs to be recategorized as.</li> 
</ul>
    </div>

In [35]:
# Use this cell to begin your analysis, and add as many as you would like!

In [36]:
import pandas as pd
cosmetics = pd.read_csv('datasets/cosmetics.csv')
ingredients = pd.read_csv('datasets/ingredients.txt',sep="\t")
cos_cat = pd.read_csv("datasets/cosmetics_categories.csv")

In [37]:
cosmetics.head()

,id,brand,category,name,size,price,rating,how_to_use,online_only,limited_edition
0,2218774,Acqua Di Parma,Perfume,Blu Mediterraneo MINIATURE Set,5 x 0.16oz/5mL,USD 66,4.0,Suggested Usage:-Fragrance is intensified by t...,1,0
1,2044816,Acqua Di Parma,Cologne,Colonia,0.7 oz/ 20 mL,USD 66,4.5,no instructions,1,0
2,1417567,Acqua Di Parma,Perfume,Arancia di Capri,5 oz/ 148 mL,USD 180,4.5,no instructions,1,0
3,1417617,Acqua Di Parma,Perfume,Mirto di Panarea,2.5 oz/ 74 mL,USD 120,4.5,no instructions,1,0
4,2218766,Acqua Di Parma,Perfume,Colonia Miniature Set,5 x 0.16oz/5mL,USD 72,3.5,Suggested Usage:-Fragrance is intensified by t...,1,0

In [38]:
ingredients.head()

   product_id                                        ingredients
0     2218774  Arancia di Capri Eau de Toilette: Alcohol Dena...
1     2044816                                            unknown
2     1417567  Alcohol Denat.- Water- Fragrance- Limonene- Li...
3     1417617                                            unknown
4     2218766  Colonia: Alcohol Denat.- Water- Fragrance- Lim...

In [39]:
cos_cat.head()

   sub_category broad_category
0       Cologne      Fragrance
1       Perfume      Fragrance
2  Eye Palettes         Makeup
3      Lipstick         Makeup
4   Highlighter         Makeup

In [40]:
# cosmetics.price.unique()

In [41]:
# 1 EUR = 1.22 USD
# 1 GBP = 1.42 USD
# 1 Yen = 0.01 USD
def price_converter(data):
    a=0
    if data[:3] =='EUR':
        a=int(data[4:])*1.22
    elif data[:3]=='GBP':
        a=int(data[4:])*1.42
    elif data[:3]=='YEN':
        a=int(data[4:])*0.01
    else:
        a=int(data[4:])   
    return float(round(a,2))
# price_converter("EUR 164")

In [42]:
cosmetics["price_converted"]=cosmetics.price.apply(price_converter)
# cosmetics[cosmetics.price=='EUR 24']

In [43]:
# cosmetics.info()
# ingredients.info()
# cos_cat.info()

In [44]:
df_merge=cosmetics.merge(cos_cat,left_on='category',right_on='sub_category',how='left')

In [45]:
df_merge=df_merge.merge(ingredients,left_on="id",right_on="product_id",how='left')

In [46]:
# df_merge.info()
df_merge[["brand",'category',"sub_category",'broad_category']]=df_merge[["brand",'category',"sub_category",'broad_category']].astype('category')
# df_merge.info()

In [47]:
# df_merge[900:1000][['category','sub_category','broad_category']]/

In [48]:
df_merge['ingredients']=df_merge['ingredients'].str.lower()
df_merge['brand']=df_merge['brand'].str.lower()
df_merge['broad_category']=df_merge['broad_category'].str.lower()

In [49]:
#toluene
# def toluene_drop(row):
#     str_list=row.split()
#     if "toluene" in str_list:
#         return 1
#     else:
#         return 0
# df_merge['toluene']=df_merge['ingredients'].apply(toluene_drop)

df_merge["toluene"]= df_merge["ingredients"].str.contains("toluene")

In [50]:
df_merge[df_merge['toluene']!=-1][['toluene','ingredients']]
# a=df_merge[df_merge['toluene']==False]['ingredients'].str.split()
# a.iloc[97,]
df_merge = df_merge[df_merge['toluene']==False]
# df_merge[df_merge['toluene']==False]['ingredients']

In [51]:
#Find the top four brands by the combined number of fragrance, makeup, 
# and skincare products produced.

df_merge.groupby(['brand'])['broad_category'].count().sort_values(ascending=False).head(4)
# df_merge[df_merge.brand=='belif'].count()
# origins                36
# dr. barbara sturm      29
# ren clean skincare     26
# the inkey list         26
# 36+29+26+26
# to_drop=['id',  'category', 'name', 'size', 'price', 'rating',
#        'how_to_use', 'online_only', 'limited_edition', 
#        'sub_category', 'product_id', 'ingredients',
#        'toluene']
# top=df_merge.drop(to_drop,axis=1,inplace=False)
# top.head()

# groupby=top.groupby(['brand','broad_category'],axis=0)
# groupby=groupby.mean()

# groupby=pd.pivot_table(groupby,index="brand",columns='broad_category',values='price_converted')
# groupby

brand
clinique              112
sephora collection    105
tom ford              102
dior                   94
Name: broad_category, dtype: int64

In [52]:
top_brands =df_merge[df_merge.brand.isin(["clinique","sephora collection","tom ford","dior"])]

In [53]:
# top_brands.brand.value_counts()

In [54]:
brand_prices=top_brands.groupby(['broad_category','brand'])['price_converted'].mean()

In [55]:
# df_merge.broad_category.value_counts()

In [56]:
# top_brands.category.value_counts()

In [57]:
brand_prices

broad_category  brand
fragrance       clinique               58.000000
                dior                   92.850714
                sephora collection     17.000000
                tom ford              182.703125
makeup          clinique               24.076923
                dior                   39.121333
                sephora collection     16.827586
                tom ford               61.354839
skincare        clinique               36.897059
                dior                   88.077222
                sephora collection     10.043478
                tom ford               74.857143
Name: price_converted, dtype: float64

In [58]:
# type(brand_prices)

In [59]:
brand_prices=pd.DataFrame(brand_prices)

In [60]:
brand_prices=brand_prices.reset_index(drop=False,inplace=False)

In [61]:
# brand_prices=brand_prices.set_index('brand')
# brand_prices.index.names=[None]
# brand_prices.columns
# brand_prices

In [62]:
brand_prices=pd.pivot_table(brand_prices,index="brand",columns='broad_category',values='price_converted')

In [63]:
brand_prices.columns.name=''
brand_prices.index.name=''

In [64]:
brand_prices.fillna(0,inplace=True)

In [65]:
# brand_prices['Makeup']=0.00

In [66]:
brand_prices.columns.values[0]='Fragrance'
brand_prices.columns.values[1]='Makeup'
brand_prices.columns.values[2]="Skincare"

In [67]:
brand_prices["Fragrance"]=brand_prices["Fragrance"].apply(lambda x:round(x,2))
brand_prices["Makeup"]=brand_prices["Makeup"].apply(lambda x:round(x,2))
brand_prices["Skincare"]=brand_prices["Skincare"].apply(lambda x:round(x,2))
brand_prices

                    Fragrance  Makeup  Skincare

clinique                58.00   24.08     36.90
dior                    92.85   39.12     88.08
sephora collection      17.00   16.83     10.04
tom ford               182.70   61.35     74.86